@import '~antd/dist/antd.css';
@import "./styles/Main.css";
@import "./styles/Header.css";
@import "./styles/UserInput.css";
@import "./styles/Footer.css";
@import "./styles/Map.css";
@import "./styles/UserAddress.css";
@import "./styles/WelcomePage.css";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
