@import '~antd/dist/antd.css';
@import "./styles/Main.css";
@import "./styles/UserInput.css";
@import "./styles/Map.css";
@import "./styles/UserAddress.css";
@import "./styles/App.css";
@import "./styles/Header.css";
@import './styles/Footer.css';
@import "./styles/Login.css";
@import "./styles/Recommendation.css";
@import "./styles/CreditCard.css";
@import "./styles/Confirmation.css";
@import "./styles/Tracking.css";
@import "./styles/WelcomePage.css";
@import "./styles/LeftSideForm.css";
@import "./styles/Register.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
