.App-header{
    display: flex;
    align-items: center;
    height: 70px;
    /*width: 100%;*/
    background-color: #00305c;
    color: #fff;
    box-shadow: rgb(220, 220, 220) 0px 2px 10px;
}
.App-logo{
    height: 28px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.title{
    font-size: 20px;
    font-weight: bold;
}