.login-form {
    width:100%;
    background-color: #fbfbfb;
    border: 1px solid #d9d9d9;
    padding: 10px 15px 0px 15px;
    text-align:left;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}
