.main{
    position:absolute;
    height:760px;
}
.left-side{
    position:relative;
    top:0;
    left:0;
    height:760px;
    width:420px;
    float: left;
}
.right-side{
    float: left;
    padding-left: 10px;
    mairgin-left:450px;
    height:760px;
}