.user-address {
    width:100%;
    background-color: #fbfbfb;
    border: 1px solid #d9d9d9;
    padding: 10px 15px 0px 15px;
    text-align:left;
    /*margin-top: 10px;*/
}
.ant-form-item {
    margin-bottom: 6px;
}

.ant-col-4 {
    width: 40%;
}

.ant-form-item-label{
    overflow: visible;
    text-align: left;
}