.user-input{
    width:500px;
    background-color: #fbfbfb;
    padding: 10px 15px 0px 15px;
    text-align:left;
    /*position: absolute;*/
    left: -100px;
    /*height: 100px;*/
    transition: 1s;
}
.arrow{
    text-align: right;
}

